{% extends 'index.html' %}
{% block title %}<title>TODO</title>{% endblock %}
{% block body %}
<h1>TODO list</h1>
<h2>for Midhun Govind</h2>
<P>
    A Todo List is a list of tasks or errands that one needs or intends to accomplish. 
    It is often used as a memory aid to help individuals keep track of their responsibilities and stay organized.
    Types of Todo Lists
    Personal Todo Lists: used for personal tasks and errands.
    Professional Todo Lists: used for work-related tasks and projects.
    Wiki Todo Lists: used for collaborative editing and maintenance of online content.
    <h2>This is my persinal todo list.</h2>
    <a href="/">Index Page</a>
</P>
{% endblock %}